
<div class="main">
    <div class="main2">
       <h3 style="text-align: center;">Login</h3>
        <form [formGroup]="inputsForm" (ngSubmit)="save()">

            <!--        Username Field                   -->
            <div class="inn">
                <label>Username</label><br />
                <div class="input-wrapper">
                    <input type="text" name="UserNameOrEmail" formControlName="UserNameOrEmail" placeholder="Username" (input)="checkApi()" [(ngModel)]="inputText" required class="form-control" [ngClass]="{'is-invalid': isFormSaved && regCard['UserNameOrEmail'].errors }">
                    <i  style="color: rgb(250, 5, 5);padding:2px 5px;border: 1px solid red;" class="fas fa-times"  *ngIf="inputText" (click)="clearInput()"></i>
                </div>
                <div class="err-msg">{{error}}</div>
                <div class="err-msg" *ngIf="isFormSaved1  && regCard['UserNameOrEmail'].errors">
                    <div *ngIf="regCard['UserNameOrEmail'].errors['required']">Username is required</div>
                    <div *ngIf="regCard['UserNameOrEmail'].errors['maxLength']">Minimum 30 characters</div>
                </div>
            </div>

            <!--        Password Field                   -->
            <div class="inn">            
                <label>Password</label><br />
                <input type="password" name="Password" formControlName="Password" placeholder="Password" required class="form-control" (input)="checkPassword()" [ngClass]="{'is-invalid': isFormSaved2 && regCard['Password'].errors }" style="width: 100%;">
                <div class="err-msg" *ngIf="isFormSaved2  && regCard['Password'].errors">
                    <div *ngIf="regCard['Password'].errors['required']">Password is required</div>
                    <div *ngIf="regCard['Password'].errors['minLength']">Minimum 6 characters required</div>
                </div>
            </div>

            <!--        Reset Password                   -->
            <div style="text-align: right;font-family: Arial, Helvetica, sans-serif;margin-right: 2vh;font-size: 2.5vh;"><a href="#">Reset Password</a></div>
            
            <!--        Environment Field                   -->
            <div class="inn" >     
                <label>Environment</label><br />     
                <select name="EnvironmentID" formControlName="EnvironmentID" placeholder="Placeholder" required style="width: 100%;">
                    <option style="width: 100%;">---Select----</option>
                    <option style="width: 100%;" *ngFor="let item of envselect" >{{ item.organizationEnvironmentName}}</option>
               </select>
               <div class="err-msg" *ngIf="isFormSaved  && regCard['EnvironmentID'].errors">
                <div *ngIf="regCard['EnvironmentID'].errors['EnvironmentID']">Environment is required</div>
            </div>
            </div>

            <!--        Submit Button                   -->
            <div style="text-align: right; margin-right: 2vh;">
                <button class="btn btn-primary" *ngIf="true" [disabled]="!inputsForm.valid">Login</button>
            </div>


            <div style="text-align: center;font-family: Arial, Helvetica, sans-serif;margin: 3vh 0px;">Or,</div>

        </form>
    </div>
</div>
