.main{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 99vh;
    margin:10px 0px;
}

.main2{
    padding: 3vh;
    border: 1px solid rgb(173, 173, 173);
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 2px 2px 4px 2px #f2f2f2;
    margin-top:10px;
}

.inn{
    padding: 1vh;
}

label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vh;
}

.btn{
    margin:10px 0px;
}

input{
    margin-top: 10px;
    font-size: 20px;
    padding: 1vh;
    border-radius: 5px;
    border: 1px solid rgb(198, 197, 197);
    width: 40vh;
    height: 5vh;
    font-size: 1.8vh;
}

.custom-select-options {
  width: 10px;  /*set your desired width here */
}

select {
    border-radius: 5px;
    border: 1px solid rgb(198, 197, 197);
    color: #555;
    font-size: 22px;
    padding: 6px 10px;
    font-size: 2vh;
    margin-top: 5px;
}

input:hover{
    box-shadow: 0px 0px 3px 0px;
}

.input-wrapper {
    position: relative;
}
  
input[type="text"] {
    padding-right: 2.5rem;
}
  
input[type="text"] + i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.1rem;
    cursor: pointer;
    padding:10px;
    border-radius: 25px;
    margin-right: 2px;
    font-size: medium;
}
  
.err-msg{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8vh;
    padding-top: 8px;
    height: 1.5vh;
}

select.disabled {
    background-color:rgb(215, 215, 215);
}


.btn2{
    background-color: white;
    border-radius: 5px;
    height: 4.5vh;
    border: 1px solid black;
    font-size: 1.5vh;
    font-weight: bold;
    width: 25vh;
  }
  .fa-microsoft{
    background: conic-gradient( #7FBA00 0deg 90deg, #FFB900 90deg 180deg, #00A4EF 180deg 270deg, #F25022 270deg 360deg ) no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }
  .fa-times-circle{
    color: #AAAAAA; 
    display: inline-block;
    position: absolute;
    right: 12px;
    margin-top: 12px;
  }
  .fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }
  .wrapper1{
    display: flex;
    justify-content: center;
  }
  .sec-div{
    margin-bottom: 30px;
  }
  .wrapper1 .row i{
    position:absolute;
    width: 47px;
    height: 40px;
    font-size: 20px;
    background-color: white;
    border: 1px solid #4285F4;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
 
  
 .title{
    font-size: 2.5vh;
    text-align: center;
    margin-top:15px;

 }
 
 .mat-raised-button{
    float: right;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: larger;
    color: black;
  }
  span{
    color: black;
    padding: 0px 5px 0px 5px;
    font-size: 1.8vh;
    float:left;
  }

:host ::ng-deep .customSpinner circle{
    stroke: #ffffff!important;
}
